@white: #e1e1e1;
@blue: #1e80e1;
@orange: #e1801e;
@purple: #8769e1;

@portrait: (orientation: portrait);
@landscape: (orientation: landscape) and (max-width: 999px);
@desktop: (orientation: landscape) and (min-width: 1000px);

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    ul {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      li {
        display: flex;
        flex-direction: column;
        a {
          align-self: flex-start;
        }
        a:link {
          color: @white;
        }
        a:visited {
          color: @purple;
        }
        a:hover {
          color: @blue;
        }
        time {
          align-self: flex-end;
        }
      }
    }
  }

  @media @portrait {
    font-size: 3em;
  }

  @media @landscape {
    font-size: 1.6em;
  }

  @media @desktop {
    font-size: 1em;
  }
}
