{% extends "base.jinja" %}

{% block style %}<link rel="stylesheet" href="/style/home.css" />{% endblock %}
{% block body %}
<main>
  <h1>The CLI Wizard</h1>
  <p>This site aims to bridge the gap between new Linux users and advanced
    users, one post at a time.</p>
</main>
{% endblock %}
