{% extends "base.jinja" %}

{% block style %}<link rel="stylesheet" href="/home.css" />{% endblock %}
{% block body %}
  <main>
    <h1>The CLI Wizard</h1>
    <p>Welcome. This is the beggining of my website.</p>
  </main>
{% endblock %}
