{% extends "base.jinja" %}

{% block title %} - INDEX{% endblock %}
{% block body %}
  <main>
    <h1>The CLI Wizard</h1>
    <p>Welcome. This is the beggining of my website.</p>
  </main>
{% endblock %}
